<div class="home">
  <h1>Buget App</h1>

<div>
  <a class="login" href="/users/sign_in">LOG IN</a>
<a href="/users/sign_up">SIGN UP</a>
</div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  .home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  }
  .home h1 {
    font-size: 3rem;
    color: #434b54;
  }

  .home div {
    width: 100%;
  }

  .home div a {
    display: block;
    padding: 15px;
    text-align: center;
    border: 1px solid red;
    max-width: 500px;
    margin: 15px auto;
    border: 1px solid #3778c2;
    border-radius: 5px;
    text-decoration: none;
    color: #434b54;
  }

  .home div .login {
    background-color: #3778c2;
    color: white;
  }
</style>
</div>